/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: relative;
	z-index: 10;
	margin-top: 20px;
}

/* Downsize the brand/project name a bit */
.navbar .brand {
	padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
	padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
	margin-top: 10px;
}


#signInButton {
  margin-top: 11px;
  margin-bottom: 11px;
}

.userbox {
	margin-top: 8px;
}

.logged-in-text {
	float:left;
	margin-top: 6px;
	margin-right: 3px;
}

.pdf-document {
  border: 1px solid #AAA;
}

.note {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

.note,
.note .note {
  margin-top: 15px;
}

.note:first-child {
  margin-top: 0;
}
.note .pull-left {
  margin-right: 10px;
}    

.comment {
  margin-top: 15px;
}

.commentInput {
  margin-top: 15px;
}




.carousel {
	margin-bottom: 60px;
}

.carousel .container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.carousel-control {
	background-color: transparent;
	border: 0;
	font-size: 120px;
	margin-top: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
	height: 500px;
} 
.carousel img {
	min-width: 100%;
	height: 500px;
}

.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin-bottom: 100px;
}
.carousel-caption h1,
.carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
	margin-top: 10px;
}
