<!DOCTYPE html>
<html lang="en">
	
	{{> layout/head.html }}

	<body>
		{{> layout/navigation.html}}


		<div class="container">

			<h1>About the Project 'Slidehub'</h1>

			<div class="row-fluid">
				<div class="span6">
					<p class="lead">This is a project developped by students of the university of the Zurich in context of the seminar Web 2.0.</p>
					<p>The project aims to implement a realtime discussion and support tool for courses at the university. The following students has 
						implement the project:</p>
					<ul>
						<li>Stefan Csizmazia</li>
						<li>Daniel Strebel</li>
						<li>Thomas Hunziker</li>
						<li>Alex Muelli</li>
					</ul>
				</div>
				<div class="span6">

					<h3>GitHub</h3>
					<a href="https://github.com/csizmazia/slidehub">Slidehub at GitHub</a>

					<h3>Related Work</h3>
					<ul>
						<li><a href="http://prezi.com/">Prezi</a></li>
						<li><a href="http://tweedback.com/">Tweedback</a></li>
					</ul>
				</div>
			</div>

			
		</div>

		{{> layout/footer.html }}
	</body>
</html>