<!DOCTYPE html>
<html lang="en">
  
  {{> layout/head.html }}

  <body>
    {{> layout/navigation.html}}

    {{#is_available}}
      <script src="/js/pdf.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/communication.js"></script>
      <script>
        var sessionid = '{{connect_sid}}';
        var username = '{{username}}';
        var idpresentation = '{{presentation.idpresentation}}';

        var currentPage = 1;
        var pdf = null;

        function nextSlide() {
          if(pdf) {
            currentPage = Math.min(currentPage+1, pdf.numPages);
            repaintPdf();
          }
        }

        function prevSlide() {
          if(pdf) {
            currentPage = Math.max(currentPage-1, 1);
            repaintPdf();     
          }

        }

        function repaintPdf() {
            
            //clear notes from previous slide
            $("#notes-container").empty();

            //request notes for this slide from the database
            $.getJSON('../../ajax', {
              action:"get_notes",
              idpresentation:idpresentation,
              slideno:currentPage
            }
            ,function(data) {
                $.each(data.data, function(id, note) {
                  var t = note.timestamp.split(/[- : T .]/);
                  console.log(t);
                  var dateTime = new Date(t[0], t[1]-1, t[2], t[3], t[4], t[5]);

                  var comments = '';

                  $.each(note.comments, function(id, comment) {
                    comments += '<div class="comment"><a class="pull-left" ><img class="media-object" src="http://placehold.it/24x24"></a>' + comment.content + '</div>';
                  });

                  $("#notes-container").append('<div class="note" id="note' + note.idnote + '"><a class="pull-left" ><img class="media-object" src="http://placehold.it/32x32"></a><div class="media-body"><h5 class="media-heading">'+note.username+' (' + dateTime + ')'+'</h5>'+note.content+'<div class="comments-container" id="comments' + note.idnote +'"><a href="javascript:void(0)" onclick="communication.addCommentInputBox(this, ' +  note.idnote +');">add a comment</a>' + comments + '</div></div></div>');
                });
            });

            // Using promise to fetch the page
            pdf.getPage(currentPage).then(function(page) {
              
              var originalHeight = page.getViewport(1.0).height;
              var originalWidth = page.getViewport(1.0).width;

              var windowHeight = $(window).height();
              var windowWidth = $(window).width();

              // Adapt canvas width to responsive CSS
              var canvasWidth = 0;
              if(windowWidth >= 1200) {
                  canvasWidth = 870;
              } else if (windowWidth >= 980) {
                  canvasWidth = 700;
              } else if (windowWidth >= 768) {
                  canvasWidth = 538;
              } else {
                  canvasWidth = windowWidth-40;
              }

              // Width of canvas is always maximized 
              var viewport = page.getViewport(canvasWidth/originalWidth);
          
              //
              // Prepare canvas using PDF page dimensions
              //
              var canvas = document.getElementById('pdf-canvas');
              var context = canvas.getContext('2d');
              canvas.height = viewport.height;
              canvas.width = viewport.width;
          
              //
              // Render PDF page into canvas context
              //
              var renderContext = {
                canvasContext: context,
                viewport: viewport
              };
              page.render(renderContext);
            });
          }

        $(document).ready(function() {

          // Init the communication with the server:
          communication.init(sessionid, idpresentation, username);

          $('#next-button').click(nextSlide);
          $('#prev-button').click(prevSlide);

          $(window).resize(repaintPdf);
        
          $(document).bind('keydown', function(evt) {
            if(evt.keyCode == 37) {
              prevSlide();
            }
            else if(evt.keyCode == 39) {
              nextSlide();
            }
          });
        
          // https://github.com/mozilla/pdf.js/blob/master/examples/helloworld/hello.js
          //PDFJS.workerSrc = '/js/pdf.js'
          PDFJS.disableWorker = true;
          PDFJS.getDocument('/pdf/{{presentation.filename}}.pdf').then(function(doc) {
            pdf = doc;
            repaintPdf();
          });
        });
      </script>

      <div class="container">

        <h1>{{presentation.title}}</h1>

        <div class="row-fluid">
          <div class="span9">
            <canvas id="pdf-canvas" class="pdf-document"></canvas>
            <div class="slideNav">
                <button type="prev" id="prev-button" class="btn btn-primary">Prev</button>
                <button type="next" id="next-button" class="btn btn-primary">Next</button>
            </div>
          </div>
          <div class="span3">

            New note: <input type="text" id="new-note" />
            <h2>Notes:</h2>
            <div id="notes-container">
            </div>
          </div>
        </div>
      </div>
    {{/is_available}}

    {{^is_available}}
      <h1>This presentation does not exist!</h1>
    {{/is_available}}


    {{> layout/footer.html }}
  </body>
</html>
