<!DOCTYPE html>
<html lang="en">
  
  {{> layout/head.html }}

  <body>
    {{> layout/navigation.html}}

    {{#is_available}}
      <script src="/js/pdf.js" type="text/javascript"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script tyle="text/javascript">
        $(document).ready(function() {
          var socket = io.connect('http://localhost');
          // TODO: iduser darf hier natürlich nicht hardcoded sein
          // iduser wird beim login vom server retourniert
          socket.emit("hello",{ idpresentation:{{presentation.idpresentation}}, "user":{"iduser":1, "name":$("#username").val()} });
          socket.on('hi', function (data) {
            console.log("jetzt kann es losgehen");
            // TODO: erst jetzt kann es losgehn
          });
          socket.on('note', function (data) {
            console.log(data);
            $("#notes-container").append('<div class="note"><b>'+data.user.name+'</b>: <p>'+data.note.text+'</p></div>');
          });
          socket.on('comment', function (data) {
            console.log(data);
            // TODO: kommentare sollen natürlich nicht in einer wurst mit den notizen dargestellt werden
            $("#notes-container").append('<div class="comment"><b>'+data.user.name+'</b>: <p>'+data.comment.text+'</p></div>');
          });
          socket.on('vote', function (data) {
            console.log(data);
            // TODO: irgendwas sinnvolles mit dem vote tun
          });
        
          $('#new-note').bind("keypress", function(e) {
            if(e.keyCode == 13){
              if($("#new-note").val().length > 0) {
                $("#notes-container").append('<div class="note"><b>'+$("#username").val()+'</b>: <p>'+$("#new-note").val()+'</p></div>');
                // TODO: iduser darf hier natürlich nicht hardcoded sein
                // iduser wird beim login vom server retourniert
                socket.emit("note", {"user":{"iduser":1, "name":$("#username").val()}, "text":$("#new-note").val(), "slide":{"page":1}});
              }
            }
          });
        
          // https://github.com/mozilla/pdf.js/blob/master/examples/helloworld/hello.js
          //PDFJS.workerSrc = '/js/pdf.js'
          PDFJS.disableWorker = true
          PDFJS.getDocument('/pdf/{{presentation.filename}}.pdf').then(function(pdf) {
            // Using promise to fetch the page
            pdf.getPage(1).then(function(page) {
              
              // TODO: Resize the Viewport depending on the screen size / max canvas size
              var scale = 1.2;
              var viewport = page.getViewport(scale);
          
              //
              // Prepare canvas using PDF page dimensions
              //
              var canvas = document.getElementById('pdf-canvas');
              var context = canvas.getContext('2d');
              canvas.height = viewport.height;
              canvas.width = viewport.width;
          
              //
              // Render PDF page into canvas context
              //
              var renderContext = {
                canvasContext: context,
                viewport: viewport
              };
              page.render(renderContext);
            });
          });
        });
      </script>

      <div class="container">

        <h1>{{presentation.title}}</h1>

        <div class="row-fluid">
          <div class="span9">
            <canvas id="pdf-canvas" class="pdf-document"></canvas>
          </div>
          <div class="span3">
            
            New note: <input type="text" id="new-note" />
            <h2>Notes:</h2>
            <div id="notes-container">
            </div>
          </div>
        </div>
      </div>
    {{/is_available}}

    {{^is_available}}
      <h1>This presentation does not exist!</h1>
    {{/is_available}}


    {{> layout/footer.html }}
  </body>
</html>
