<!DOCTYPE html>
<html lang="en">
  
  {{> layout/head.html }}

  <body>
    {{> layout/navigation.html}}

    {{#is_available}}
      <script src="/js/pdf.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>

        var currentPage = 1;
        var pdf = null;

        function nextSlide() {
          if(pdf) {
            currentPage = Math.min(currentPage+1, pdf.numPages);
            repaintPdf();
          }
        }

        function prevSlide() {
          if(pdf) {
            currentPage = Math.max(currentPage-1, 1);
            repaintPdf();     
          }

        }

        function repaintPdf() {

            // Using promise to fetch the page
            pdf.getPage(currentPage).then(function(page) {
              
              // TODO: Resize the Viewport depending on the screen size / max canvas size
              var originalHeight = page.getViewport(1.0).height;
              var originalWidth = page.getViewport(1.0).width;

              var windowHeight = $(window).height()*0.8;
              var windowWidth = $(window).width()*0.75;

              var scale = Math.min(windowHeight/originalHeight, windowWidth/originalWidth);

              var viewport = page.getViewport(scale);
          
              //
              // Prepare canvas using PDF page dimensions
              //
              var canvas = document.getElementById('pdf-canvas');
              var context = canvas.getContext('2d');
              canvas.height = viewport.height;
              canvas.width = viewport.width;
          
              //
              // Render PDF page into canvas context
              //
              var renderContext = {
                canvasContext: context,
                viewport: viewport
              };
              page.render(renderContext);
            });
          }

        $(document).ready(function() {
          var socket = io.connect('http://localhost');
          // TODO: iduser darf hier natürlich nicht hardcoded sein
          // iduser wird beim login vom server retourniert
          socket.emit("hello",{ idpresentation:{{presentation.idpresentation}}, "user":{"iduser":1, "name":$("#username").val()} });
          socket.on('hi', function (data) {
            console.log("jetzt kann es losgehen");
            // TODO: erst jetzt kann es losgehn
          });
          socket.on('note', function (data) {
            console.log(data);
            $("#notes-container").append('<div class="note"><b>'+data.user.name+'</b>: <p>'+data.note.text+'</p></div>');
          });
          socket.on('comment', function (data) {
            console.log(data);
            // TODO: kommentare sollen natürlich nicht in einer wurst mit den notizen dargestellt werden
            $("#notes-container").append('<div class="comment"><b>'+data.user.name+'</b>: <p>'+data.comment.text+'</p></div>');
          });
          socket.on('vote', function (data) {
            console.log(data);
            // TODO: irgendwas sinnvolles mit dem vote tun
          });

          $('#next-button').click(nextSlide);
          $('#prev-button').click(prevSlide);

          $(window).resize(repaintPdf);
        
          $('#new-note').bind("keypress", function(e) {
            if(e.keyCode == 13){
              if($("#new-note").val().length > 0) {
                $("#notes-container").append('<div class="note"><b>'+$("#username").val()+'</b>: <p>'+$("#new-note").val()+'</p></div>');
                // TODO: iduser darf hier natürlich nicht hardcoded sein
                // iduser wird beim login vom server retourniert
                socket.emit("note", {"user":{"iduser":1, "name":$("#username").val()}, "text":$("#new-note").val(), "slide":{"page":currentPage}});
              }
            }
          });


          $(document).bind('keydown', function(evt) {
            if(evt.keyCode == 37) {
              prevSlide();
            }
            else if(evt.keyCode == 39) {
              nextSlide();
            }
          });
        
          // https://github.com/mozilla/pdf.js/blob/master/examples/helloworld/hello.js
          //PDFJS.workerSrc = '/js/pdf.js'
          PDFJS.disableWorker = true;
          PDFJS.getDocument('/pdf/{{presentation.filename}}.pdf').then(function(doc) {
            pdf = doc;
            repaintPdf();
          });
        });
      </script>

      <div class="container">

        <h1>{{presentation.title}}</h1>

        <div class="row-fluid">
          <div class="span9">
            <canvas id="pdf-canvas" class="pdf-document"></canvas>
            <div class="slideNav">
                <button type="prev" id="prev-button" class="btn btn-primary">Prev</button>
                <button type="next" id="next-button" class="btn btn-primary">Next</button>
            </div>
          </div>
          <div class="span3">
            
            New note: <input type="text" id="new-note" />
            <h2>Notes:</h2>
            <div id="notes-container">
            </div>
          </div>
        </div>
      </div>
    {{/is_available}}

    {{^is_available}}
      <h1>This presentation does not exist!</h1>
    {{/is_available}}


    {{> layout/footer.html }}
  </body>
</html>
